

.container {
  max-width: 1200px;
}

h2 {
  color: #343a40;
}

.card {
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-block {
  display: block;
  width: 100%;
}



